.App {
  text-align: center;
  padding: 3% 10%;
}
.visa-container{
  padding: 2% 5%;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #282A37 51.18%, rgba(40, 42, 55, 0.5) 100%);
  display: flex;
  justify-content: space-between;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-waper{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.vertical-ul-list{
  display: flex;
  flex-direction: column;

}
.vertical-ul-list li{
  margin-bottom: 30px;
}
.input-styled{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(192, 192, 200, 1);
  font-size: 16px;
  align-items: flex-start;
  width: 100%;
}
.input-styled input{
  background: rgba(50, 54, 69, 1);
  border-radius: 8px;
  width: 100%;
  padding: 5px 10px;
  /*height: 50px;*/
}

.right-section{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(192, 192, 200, 1);
  position: relative;
}
.right-section span{
  font-size: 36px;
}
.right-section p{
  color: rgba(192, 192, 200, 1);
  max-width: 400px;
  font-size: 24px;
}
.right-section b{
  text-decoration: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
  font-weight: 400;
}
/*.right-section */
.pay-now-btn{
  display: flex;
  justify-content: center;
}
button{
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: rgba(41, 43, 56, 1);
  width: 100px;

}